@{
    ViewData["Title"] = "About us";
}

<div class="mt-3">
    <h1>@ViewData["Title"]</h1>
    <p>
        We create innovative ways to move – on snow, on water, on asphalt or dirt – even in the air.
        Headquartered in the Canadian town of Valcourt, Quebec, BRP has been reimagining the way you access your world since 2003 and beyond. Building on a tradition of ingenuity and intense customer focus that go all the way back to 1937, we operate manufacturing facilities in Canada, the United States, Mexico, Finland, Austria and Australia. We have a total workforce of more than 14,500 driven, resourceful people.
        Our portfolio of industry-leading and distinctive products comprises Ski-Doo and Lynx snowmobiles, Sea-Doo watercraft, Can-Am On- and Off-Road vehicles, Alumacraft, Manitou, Quintrex and Rotax marine propulsion systems as well as Rotax engines for karts and recreational aircraft. We support our product lines with a dedicated parts, accessories and clothing business, to fully enhance your riding experience.
        Because it’s not about the destination. It’s about the journey. Yours.
    </p>
</div>

